# =========================
# Dependências do Node.js
# =========================
node_modules/
# =========================
# Arquivos de Ambiente (Segredos)
# =========================
.env
.env.*
!.env.example

# =========================
# Logs e Arquivos de Erro
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =========================
# Cobertura de Testes (Coverage)
# =========================
coverage/
.nyc_output/

# =========================
# Relatórios (Allure e HTML)
# =========================
allure-results/
allure-report/
reports/
test-report.html

# =========================
# Editores e IDEs (Arquivos locais do desenvolvedor)
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Arquivos de Sistema Operacional
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db